<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="idemp" value="3193" />
    <add key="idemp2" value="1900161" />

    <add key="OraLogin" value="KUKUYR$NSK20" />
    <add key="OraPwd" value="435687" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="KassPwd" value="2187"/>
    <add key="ZReport" value="17:30"/>
    <add key="Interval" value="25"/>
    <add key="ComPort" value="COM5"/>

    <add key="login" value="tnt8000300@gmail.com"/>
    <add key="passw" value="Qwe123123"/>
    <add key="api_url" value="https://ofd-api.kontur.ru"/>
    <add key="update_path" value="https://svc.trianon-nsk.ru/clients/main/priemka/"/>

    
    <add key="ofd_api_key" value="6ecd8bd4-6ea1-4f24-8393-777952e72ed8"/>
    <add key="ofd_api_key_old" value="a7b202ec-2ccc-42db-89fe-d3110e4b469d"/>
    <add key="inn" value="5404374480"/>
    <add key="kkt" value="0000284347049729"/>
    <add key="fn" value="9284440300491471"/>                        
    <add key="default_email" value="tnt8000300@gmail.com"/>
    <add key="days_delta" value="-1"/>
    <add key="autostart" value="false"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>